@import 'styles';

.carriages__upd-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;

  width: 30vw;
}

button {
  width: 200px;
  margin-top: 5px;
}

@include mobile {
  .carriages__upd-form {
    width: 100%;
  }
}

@include small-mobile {
  .carriages__upd-form {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
