<h4 tui-text_h6>Route {{ data.schedule.rideId }}</h4>
<table class="tui-table">
  <tbody>
    <tr class="tui-table__tr tui-table__tr_border_none">
      <th class="tui-table__th tui-table__th_first">Time</th>
      <th class="tui-table__th">Station</th>
      <th class="tui-table__th tui-table__th_last">Stop</th>
    </tr>

    <tr class="tui-table__tr tui-table__tr_border_none">
      <td class="tui-table__td tui-table__td_first">
        {{ data.schedule.segments[0].time[0] | date: 'MMM d, h:mm a' }}
      </td>
      <td class="tui-table__td">{{ data.from }}</td>
      <td class="tui-table__td tui-table__td_last">first station</td>
    </tr>

    <tr class="tui-table__tr tui-table__tr_border_none" *ngFor="let segment of data.schedule.segments; let i = index">
      <ng-container *ngIf="i > 0">
        <td class="tui-table__td tui-table__td_first">
          <div class="tui-text_body-s-2">
            {{ getSegmentArrivalTime(i) | date: 'shortTime' }}
          </div>
          <div class="tui-text_body-s-2">{{ segment.time[0] | date: 'shortTime' }}</div>
        </td>
        <td class="tui-table__td">{{ getCityName(data.path[i]) | async }}</td>
        <td class="tui-table__td tui-table__td_last">{{ calculateStopDuration(segment, i) }}</td>
      </ng-container>
    </tr>

    <tr class="tui-table__tr tui-table__tr_border_none">
      <td class="tui-table__td tui-table__td_first">
        {{ data.schedule.segments.at(-1)!.time[1] | date: 'MMM d, h:mm a' }}
      </td>
      <td class="tui-table__td">{{ data.to }}</td>
      <td class="tui-table__td tui-table__td_last">last station</td>
    </tr>
  </tbody>
</table>
