<table class="tui-table">
  <tbody>
    <tr class="tui-table__tr tui-table__tr_border_none">
      <th class="tui-table__th tui-table__th_first">Time</th>
      <th class="tui-table__th">Station</th>
      <th class="tui-table__th tui-table__th_last">Stop</th>
    </tr>

    <!-- Первая станция (начало маршрута) -->
    <tr class="tui-table__tr tui-table__tr_border_none">
      <td class="tui-table__td tui-table__td_first">
        {{ data.route.schedule[0].time[0] | date: 'MMM d, h:mm a' }}
      </td>
      <td class="tui-table__td">{{ data.fromStation.city }}</td>
      <td class="tui-table__td tui-table__td_last">first station</td>
    </tr>

    <!-- Промежуточные станции (сегменты маршрута) -->
    <tr
      class="tui-table__tr tui-table__tr_border_none"
      *ngFor="let segment of data.route.schedule[0].segments; let i = index"
    >
      <ng-container *ngIf="i > 0">
        <td class="tui-table__td tui-table__td_first">
          <div class="tui-text_body-s-2">
            {{ getSegmentArrivalTime(i) | date: 'shortTime' }}
          </div>
          <div class="tui-text_body-s-2">{{ segment.time[0] | date: 'shortTime' }}</div>
        </td>
        <td class="tui-table__td"></td>
        <td class="tui-table__td tui-table__td_last">{{ calculateStopDuration(segment, i) }}</td>
      </ng-container>
    </tr>

    <!-- Последняя станция (конец маршрута) -->
    <tr class="tui-table__tr tui-table__tr_border_none">
      <td class="tui-table__td tui-table__td_first">
        {{ data.route.schedule[0].time[1] | date: 'MMM d, h:mm a' }}
      </td>
      <td class="tui-table__td">{{ data.toStation.city }}</td>
      <td class="tui-table__td tui-table__td_last">last station</td>
    </tr>
  </tbody>
</table>
