<p class="text">Legend</p>

<div class="legend">
  <div class="legend-item">
    <div class="seat reserved">
      <div class="seat-number">{{ reservedSeats }}</div>
    </div>
    <span>Reserved seat</span>
  </div>

  <div class="legend-item">
    <div class="seat available">
      <div class="seat-number">{{ availableSeats }}</div>
    </div>
    <span>Available seat</span>
  </div>

  <div class="legend-item">
    <div class="seat selected">
      <div class="seat-number">{{ selectedSeats }}</div>
    </div>
    <span>Selected seat</span>
  </div>
</div>
