:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 100px;
  max-width: calc(100vw - 40px);
}

.h1 {
  font-size: 100px;
}

.h2 {
  color: var(--tui-text-tertiary);
  margin: 0;
}
