<p>carriages works!</p>
@let carriagesList = carriagesList$ | async;
@for (carriage of carriagesList; track carriage) {
  <div>code: {{ carriage.code }}</div>
  <div>name: {{ carriage.name }}</div>
  <div>rows: {{ carriage.rows }}</div>
  <div>leftSeats: {{ carriage.leftSeats }}</div>
  <div>rightSeats: {{ carriage.rightSeats }}</div>
  <app-carriages-dynamic-form [carriagesData]="carriage"></app-carriages-dynamic-form>
}
<!-- <button size="l" tuiButton (click)="createNewCarriagesType()">Add station</button>
<button size="l" tuiButton (click)="getCarriagesTypes()">Get types</button> -->
