<ng-container *ngIf="rideInformation$ | async as rideInfo">
  <ng-container *ngIf="routeDetails$ | async as routeDetails">
    <div class="header">
      <button tuiAppBarBack tuiSlot="left" (click)="goBack()" class="button-back">Back</button>

      <div>
        <div class="tui-text_body-l-1">
          {{ rideInfo.path[0] }} → {{ rideInfo.path.at(-1) }},
          {{ rideInfo.schedule.segments[0].time[0] | date: 'MMM d, h:mm a' }}
        </div>

        <div class="ride">
          Ride {{ rideInfo.rideId }}
          <button tuiButton (click)="showDialog($event)" size="s" appearance="outline">Route</button>
        </div>
      </div>
    </div>

    <div class="content">
      <div>
        <tui-segmented>
          <button *ngFor="let carriage of routeDetails.carriages | uniqueCarriages">{{ carriage }}</button>
        </tui-segmented>
      </div>

      <div class="carriage-info">
        <div class="carriages">{{ routeDetails.carriages }}</div>
        <div class="booking"></div>
      </div>

      <app-legend [reservedSeats]="5" [availableSeats]="10" [selectedSeats]="3"></app-legend>
    </div>
  </ng-container>
</ng-container>

<ng-template #notFound>
  <p>Route not found.</p>
</ng-template>
