<button routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/admin/routes" size="s" tuiButton>
  Back to routes
</button>

@let riderInfo = riderInfo$ | async;
@let stationArr = stationArr$ | async;
@let carriagesArr = carriagesArr$ | async;
@if (riderInfo && stationArr && carriagesArr && riderInfo) {
  @for (rider of riderInfo.schedule; track rider.rideId) {
    @if (rider.rideId) {
      <app-ride-card
        [carriagesDataAllUpd]="carriagesArr"
        [stationDataAllUpd]="stationArr"
        [cityRide]="riderInfo.path"
        [idRide]="rider.rideId"
        [rideSchedule]="rider.segments"
        [carriageRide]="riderInfo.carriages"
        [rideInfo]="riderInfo"
        [routeId]="routeId"
      >
      </app-ride-card>
    }
  }
}
