@import 'styles';

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  max-width: 1160px;
  margin: 20px 0;

  border-radius: 10px;
}

.routes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.route {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.schedule {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 20px;
  cursor: pointer;
  background-color: var(--tui-background-base);
  border: 1px solid var(--tui-background-neutral-1-pressed);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  padding: 10px;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;

  width: 100%;

  .time {
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-end;

    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid var(--tui-background-neutral-1-pressed);

    .start-time,
    .end-time {
      position: relative;
      font-weight: 700;

      &::before {
        content: '⚪';

        position: absolute;
        bottom: -6px;

        width: 8px;
        height: 8px;

        font-size: 10px;
      }
    }

    .start-time::before {
      left: -5px;
    }

    .end-time::before {
      right: 0;
    }

    .duration {
      color: var(--tui-text-secondary);
      text-align: center;
    }

    .end-time {
      text-align: right;
    }
  }

  .date {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-top: 10px;
  }

  .city {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    font-weight: 500;
  }
}

.price-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-end;
  padding-left: 20px;
  border-left: 1px solid var(--tui-background-neutral-1-pressed);

  .carriage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    .price {
      text-align: right;
    }

    .tui-text_body-m,
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 80px;
    }
  }
}

tui-loader {
  margin-top: 200px;
}

@include desktop {
  :host {
    max-width: 986px;
  }
}

@include tablet {
  :host {
    max-width: calc(100vw - 40px);
  }
}

@include mobile {
  :host {
    max-width: calc(100vw - 40px);
  }

  .schedule {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .price-section {
    padding-left: 0;
    border-left: none;
  }
}

@include small-mobile {
  :host {
    max-width: calc(100vw - 40px);
  }

  .schedule {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .price-section {
    padding-left: 0;
    border-left: none;
  }
}
