<form class="create-route-from" [formGroup]="createRouteForm">
  <div class="create-route-from__wrapper">
    <div class="create-route-from__station" formArrayName="stations">
      <h2>Select citys</h2>
      @for (station of stations.controls; track station; let i = $index) {
        <div class="create-route-from__stations-container">
          <tui-select tuiTextfieldSize="s" [formControlName]="i" (ngModelChange)="onSelectChangeStation(i)">
            City
            <input placeholder="Choose your hero" tuiTextfieldLegacy />
            <tui-data-list-wrapper *tuiDataList [items]="processedStationData" />
          </tui-select>
          <button class="create-route-from__delete-button" size="s" (click)="removeStation(i)" tuiButton>delete</button>
        </div>
      }
    </div>
    <div class="create-route-from__carriages" formArrayName="carriages">
      <h2>Select carriages</h2>
        @for (carriages of carriages.controls; track carriages; let i = $index) {
        <div class="create-route-from__carriages-container">  
          <tui-select tuiTextfieldSize="s" [formControlName]="i" (ngModelChange)="onSelectChangeCarriages(i)">
            Carriage
            <input placeholder="Choose your hero" tuiTextfieldLegacy />
            <tui-data-list-wrapper *tuiDataList [items]="processedCarriagesData" />
          </tui-select>
          <button class="create-route-from__delete-button" size="s" (click)="removeCarriage(i)" tuiButton>delete</button>
        </div>
        }
    </div>
  </div>
  <button size="s" tuiButton (click)="createRoute()">Add route</button>
</form>
<button size="s" tuiButton (click)="closeForm()">Close create form</button>
