:host {
  display: block;
  margin: 0 auto;
  width: 42.5rem;
  max-width: 100%;
}

.profile {
  &__button {
    align-self: flex-start;
  }
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__button {
    align-self: flex-start;
  }
}
