@import 'styles';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  height: 50px;
}

.date {
  font-size: 12px;
  color: white;
  margin: 0;
  line-height: 12px;
}

.day {
  font-size: 10px;
  color: white;
  margin: 0;
  line-height: 16px;
}

.selected-date {
  color: var(--tui-chart-categorical-02);
}

@include small-mobile {
  :host {
    display: none;
  }
}
