@if (rideSchedule) {
  <div>Ride {{ idRide }}</div>
}
@for (ride of rideSchedule; track ride.time[0]; let i = $index) {
  @let segmentData = findSegmentByRiderId(idRide);
  <div class="ride-card__container">
    <div class="ride-card__city">
      <div class="ride-card__city-element">
        {{ getCityById(cityRide[i]) }}
      </div>
      @if (i === rideSchedule.length - 1) {
        <div class="ride-card__city-element">
          {{ getCityById(cityRide[rideSchedule.length]) }}
        </div>
      }
    </div>
    <div class="ride-card__time">
      @if (isEditingTime[i]) {
        @if (segmentData) {
          @if (i === 0) {
            <input
              #timeInputDepart
              class="ride-card__time-input"
              type="datetime-local"
              [attr.data-index]="i"
              [value]="formatToDateTimeLocal(segmentData.segments[i].time[0])"
            />
          } @else if (i === rideSchedule.length - 1) {
            <input
              #timeInputArrive
              class="ride-card__time-input"
              type="datetime-local"
              [attr.data-index]="i"
              [value]="formatToDateTimeLocal(segmentData.segments[i].time[1])"
            />
          } @else {
            <div class="ride-card__time-input_arrive">
              <span>arrive</span>
              <input
                #timeInputArrive
                class="ride-card__time-input"
                type="datetime-local"
                [attr.data-index]="i"
                [value]="formatToDateTimeLocal(segmentData.segments[i - 1].time[1])"
              />
            </div>
            <div class="ride-card__time-input_depart">
              <span>depart </span>
              <input
                #timeInputDepart
                class="ride-card__time-input"
                type="datetime-local"
                [attr.data-index]="i"
                [value]="formatToDateTimeLocal(segmentData.segments[i].time[0])"
              />
            </div>
          }
        }
      } @else if (!isEditingTime[i]) {
        @if (segmentData) {
          @if (i === 0) {
            <input
              #timeInputDepart
              class="ride-card__time-input"
              type="datetime-local"
              [attr.data-index]="i"
              [value]="formatToDateTimeLocal(segmentData.segments[i].time[0])"
              [disabled]="true"
            />
          } @else if (i === rideSchedule.length - 1) {
            <input
              #timeInputArrive
              class="ride-card__time-input"
              type="datetime-local"
              [attr.data-index]="i"
              [value]="formatToDateTimeLocal(segmentData.segments[i].time[1])"
              [disabled]="true"
            />
          } @else {
            <div class="ride-card__time-input_arrive">
              <span>arrive</span>
              <input
                #timeInputArrive
                class="ride-card__time-input"
                type="datetime-local"
                [attr.data-index]="i"
                [value]="formatToDateTimeLocal(segmentData.segments[i - 1].time[1])"
                [disabled]="true"
              />
            </div>
            <div class="ride-card__time-input_depart">
              <span>depart </span>
              <input
                #timeInputDepart
                class="ride-card__time-input"
                type="datetime-local"
                [attr.data-index]="i"
                [value]="formatToDateTimeLocal(segmentData.segments[i].time[0])"
                [disabled]="true"
              />
            </div>
          }
        }
      }
      @if (!isEditingTime[i]) {
        <button (click)="toggleEditTime(i)" class="ride-card__edit-carriage">Edit</button>
      } @else if (isEditingTime[i]) {
        <button (click)="toggleEditTime(i)" (click)="saveRide(i)">Save</button>
      }
    </div>
    <div class="ride-card__carriage">
      @if (segmentData) {
        @let priceCarriage = getCarriagePriceArray(segmentData.segments[i].price);
        @for (carriage of priceCarriage; track carriage[0]; let j = $index) {
          @if (!isEditingPrice[i]) {
            <div class="ride-card__cariage-element">
              <div class="ride-card__cariage-element">
                <span #carriageName [attr.data-index]="i">{{ carriage[0] }}</span>
                <input
                  #carriageInput
                  class="ride-card__carriage-input"
                  type="number"
                  [attr.data-index]="i"
                  [value]="carriage[1]"
                  [disabled]="true"
                />
              </div>
            </div>
          } @else if (isEditingPrice[i]) {
            <div class="ride-card__cariage-element">
              <span #carriageName [attr.data-index]="i">{{ carriage[0] }}</span>
              <input
                #carriageInput
                class="ride-card__carriage-input"
                type="number"
                [attr.data-index]="i"
                [value]="carriage[1]"
              />
            </div>
          }
        }
        @if (!isEditingPrice[i]) {
          <button (click)="toggleEditPrice(i)" class="ride-card__edit-carriage">Edit</button>
        } @else if (isEditingPrice[i]) {
          <button (click)="toggleEditPrice(i)" (click)="saveRide(i)">Save</button>
        }
      }
    </div>
  </div>
}
