<button (click)="createOrder()">create order for test</button>
<div *ngFor="let order of orders$ | async; index as index">
  <div>Start trip station: {{ order.stationStart }}</div>
  <div>Start trip time: {{ order.timeStart | date: 'MMMM dd hh:mm' }}</div>
  <div>End trip station: {{ order.stationEnd }}</div>
  <div>End trip time: {{ order.timeEnd | date: 'MMMM dd hh:mm' }}</div>
  <div>Trip duration: {{ order.duration }}</div>
  <div>Carriage type: {{ order.carriageType }}</div>
  <div>Car number: {{ order.carriageNumber }}</div>
  <div>Seat number: {{ order.seatNumber }}</div>
  <div>Price: {{ order.price }}</div>
  <button *ngIf="order.status === 'active'" (click)="onCancel(order.id)">Cancel</button>
</div>
