@import 'styles';

:host {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
}

@include desktop {
  :host {
    max-width: 986px;
  }
}

@include tablet {
  :host {
    max-width: calc(100vw - 40px);
  }
}

@include mobile {
  :host {
    max-width: calc(100vw - 20px);
  }
}

@include small-mobile {
  :host {
    max-width: calc(100vw - 20px);
  }
}
